/* /web/00-css/expect/index.css */
html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 15% 85%;
    height: 100%;
}

.top-frame {
    width: 100%;
    height: 100%;
    border: none;
}

.bottom {
    display: grid;
    grid-template-columns: 25% 75%;
    height: 100%;
}

.left-frame,
.right-frame {
    width: 100%;
    height: 100%;
    border: none;
}